<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="imageFileName" value="temp/image.png" />
    <add key="settingFileName" value="setting/setting.json" />
    <add key="userFileName" value="setting/user.json" />
    <add key="saveItemFile" value="save/ItemData.json" />
    <add key="saveEquipFile" value="save/EquipData.json" />

    <add key="allItemFile" value="setting/itemData.json" />
    <add key="allAbilityFile" value="setting/ability.json" />
    <add key="replaceFile" value="setting/Replace.json" />

    <add key="setEquipUrls" value="
        http://bazaar.d-quest-10.com/list/sp_set/lv_1.html
         " />
    <add key="equipUrls" value="
        http://bazaar.d-quest-10.com/list/d_head/lv_1.html
        http://bazaar.d-quest-10.com/list/d_upper/lv_1.html
        http://bazaar.d-quest-10.com/list/d_lower/lv_1.html
        http://bazaar.d-quest-10.com/list/d_arm/lv_1.html
        http://bazaar.d-quest-10.com/list/d_leg/lv_1.html
        http://bazaar.d-quest-10.com/list/d_shield/lv_1.html
        http://bazaar.d-quest-10.com/list/w_hand/lv_1.html
        http://bazaar.d-quest-10.com/list/w_both/lv_1.html
        http://bazaar.d-quest-10.com/list/w_short/lv_1.html
        http://bazaar.d-quest-10.com/list/w_spear/lv_1.html
        http://bazaar.d-quest-10.com/list/w_axe/lv_1.html
        http://bazaar.d-quest-10.com/list/w_claw/lv_1.html
        http://bazaar.d-quest-10.com/list/w_whip/lv_1.html
        http://bazaar.d-quest-10.com/list/w_stick/lv_1.html
        http://bazaar.d-quest-10.com/list/w_cane/lv_1.html
        http://bazaar.d-quest-10.com/list/w_club/lv_1.html
        http://bazaar.d-quest-10.com/list/w_fan/lv_1.html
        http://bazaar.d-quest-10.com/list/w_hammer/lv_1.html
        http://bazaar.d-quest-10.com/list/w_bow/lv_1.html
        http://bazaar.d-quest-10.com/list/w_boomerang/lv_1.html
        http://bazaar.d-quest-10.com/list/w_falx/lv_1.html
         " />
    <add key="equipAccessoryUrls" value="
        http://bazaar.d-quest-10.com/list/d_accessory/pop_2.html
         " />
    <add key="equipCraftUrls" value="
        http://bazaar.d-quest-10.com/list/t_hammer/lv_1.html
        http://bazaar.d-quest-10.com/list/t_knife/lv_1.html
        http://bazaar.d-quest-10.com/list/t_needle/lv_1.html
        http://bazaar.d-quest-10.com/list/t_pot/lv_1.html
        http://bazaar.d-quest-10.com/list/t_lamp/lv_1.html
        http://bazaar.d-quest-10.com/list/t_flypan/lv_1.html
        http://bazaar.d-quest-10.com/list/o_fishing/popular_1.html
        http://bazaar.d-quest-10.com/list/o_food/popular_1.html
         " />
    <add key="itemUrls" value="
        http://bazaar.d-quest-10.com/list/o_material/popular_1.html
        http://bazaar.d-quest-10.com/list/o_orb/popular_1.html
        http://bazaar.d-quest-10.com/list/o_coin/popular_1.html
        http://bazaar.d-quest-10.com/list/o_flower/popular_1.html
        http://bazaar.d-quest-10.com/list/h_seed/popular_1.html
        http://bazaar.d-quest-10.com/list/o_recipe/popular_1.html
        http://bazaar.d-quest-10.com/list/o_scout/popular_1.html
        http://bazaar.d-quest-10.com/list/o_gesture/popular_1.html
         " />
    <add key="itemDetailUrls" value="
        http://bazaar.d-quest-10.com/list/o_supply/popular_1.html
        http://bazaar.d-quest-10.com/list/h_house/popular_1.html
         " />
    <add key="itemSimpleUrls" value="
        http://bazaar.d-quest-10.com/list/h_furniture/popular_1.html
        http://bazaar.d-quest-10.com/list/h_garden/popular_1.html
         " />




    <add key="VersionFile" value="version.txt" />
    <add key="ModuleFile" value="BeltManagementTool.zip" />
    <add key="ZipPass" value="" />
  </appSettings>
  <log4net>
    <appender name="LogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\log\DQ10ManagementTool\log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMddHH&quot;000.txt&quot;" />

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="FATAL" />
        <param name="LevelMin" value="DEBUG" />
      </filter>

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff} [%thread] [%-5level] %m%n" />
      </layout>
      <encoding value="UTF-8" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogRollingFileAppender" />
    </root>
  </log4net>
</configuration>